[Desktop Entry]
Encoding=UTF-8
Name=Link to BASH 数组用法小结 及 循环用法 - 可克技术 - CSDN博客
Type=Link
URL=https://blog.csdn.net/samxx8/article/details/8025548
Icon=text-html
